<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<title th:include=":: #title">Generic Title</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">SI Kependudukan</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/penduduk/cari">Cari Data</a>
				</li>
			</ul>
		</div>
	</nav>
</head>
<body>

	<center>
		<h3>Welcome To Tutorial 6 APAP</h3>
	</center>
</body>
</html>